.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
*.pdf
*.png
*.jpg
*.bib
*.xlsx
*.docx
*.txt
*.Rda
*.csv
.DS_Store
*.Rproj
*.html
*.json
*.tex
libs/
*.png
*.pdf
*.html
.DS_Store
sweden_net_files
*.gpkg
*.rtf
